
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #501b4c 0%, #1b5764 100%);
}


.App {
  text-align: center;
  background-color: #b7b91a;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .3rem;
  justify-content: flex-start;
  width: 40vw;
  height: 80vh;
  margin-top:  7vh;
  border-radius:30px ;
  font-size: 2rem;
}

.App > * {
  margin: 1.5vh;
  width: 80%;
  height: 5vh;
  border-radius:10px;
  outline: none;
}

button {
  color: white;
  border:none;
  font-size: 1.5rem;
  outline: none;
  width:50% !important;
  padding-block:.2rem ;
  height: auto !important;
}

.green {
  background-color: rgb(12, 73, 12);
}

.green:hover {
  transform: scale(1.02);
}

.blue {
  background-color: blue;
  margin-top: 3vh;
}

.blue:hover {
  transform: scale(1.05);
}

.task {
  text-align: left;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

input {
  width: 1.5rem;
  height: 1.5rem;
  transition: box-shadow .3s;
  background: lightgrey;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  transition: box-shadow 1.3s;
  background: lightgrey;
  cursor: pointer;
  border: 0.1px dashed rgb(24, 2, 105);
  appearance: none;
  -webkit-appearance: none; 
}
input:checked { 
  box-shadow: inset 0 0 0 20px rgb(24, 2, 105);
  border-radius: 15px;
  border:none;
}